---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "colors";

body {
  font-size: 16px;
  background-color: #fff5e6;
  color: $base-color;
}

.blog {
  width: 70%;
  margin: 50px auto;
  display: flex;

  img {
    max-width: 100%;
  }
}

hr {
  width: 65%;
  margin: 3rem auto;
  color: $base-color;
}

.col {
  padding: 0 2rem;
  flex: 1;
}

.me {
  width: 170px;
  margin-bottom: 1rem;
  border: 1px solid $base-color;
}

.author-sidebar {
  text-align: justify;
  border-left: 1px solid $base-color;
  max-height: 676px;

  &--image {
    width: 100%;
    text-align: center;
  }
}

.homeback {
  margin: 1.5rem 0;
}

.posttime {
  font-size: 0.8rem;
}

.footer {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  border-top: 1px solid $base-color;
  max-width: 100%;
}

@import
  "reset",
  "typography",
  "media"
;
