---
title: Archive
permalink: /archive/
---

{% include head.html %}

<span id="top"></span>
<h1 class="page-title"><a href="/">The Writing of Martin Brennan</a></h1>
{% include postnav.html %}
<div class="blog">
  <div class="col" style="flex: 3">
    <ul class="category-list">
      <li style="font-size: 130%; list-style-type: none; margin: 3rem 0 0; font-family: 'Archivo Black', sans-serif; font-size: 1.5rem;">Posts by category</li>
      <li><a href="/dispatches">Dispatches</a></li>
      <li><a href="/short-stories">Short Stories</a></li>
      <li><a href="/essays">Essays</a></li>
    </ul>
    <p>A brief explanation of these categories. Dispatches contains posts about my writing process, reading lists, and general updates. Essays are related to other media (books, movies, etc.). Short stories are pieces of fiction I have written.</p>

    <ul class="archive-list">
        {% include postsbyyear.html %}
    </ul>
    {% include subscribe.html %}
  </div>
</div>
{% include footer.html %}
