---
title: Archive
permalink: /archive/
---

{% include head.html %}

<span id="top"></span>
<h1 class="page-title"><a href="/">The Writing of Martin Brennan</a></h1>
<div class="page-nav"><a href="/">Home</a> ~ <a href="/archive">Archive</a> ~ <a href="/works">Works</a></div>
  <hr />
<div class="blog">
  <div class="col" style="flex: 3">
    <p style="margin-top: 0">Here is a sequential list in reverse chronological order of all the posts on this blog, separated by year.</p>
        
    <ul>
        {% include postsbyyear.html %}
    </ul>
  </div>
  {% include authorsidebar.html %}  
</div>
{% include footer.html %}