---

---

{% include head.html %}

<h1 class="page-title"><a href="/">The Writing of Martin Brennan</a></h1>
{% include postnav.html %}
<div class="blog">
  <div class="col"  style="flex: 3">
    {% for post in paginator.posts %}
    <div>
      <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}<br/><span class="byline">{{ post.byline }}</span><br/><time class="posttime" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time></a></h1>
      <p>{{ post.excerpt }}</p>
      <p>{% if post.excerpt != post.content %}<a href="{{ post.url | prepend: site.baseurl }}">Continue reading...</a>{% endif %}</p>
    </div>
    {% endfor %}
  </div>
  <!--<div class="col author-sidebar hide-mobile" >
    {% include authorsidebar.html %}
  </div>-->
    <table style="width: 100%;">
        <tr>
          <td style="width: 15%;">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="previous"><< Previous page</a>
            {% endif %}
          </td>
          <td style="text-align: right; width: 15%;">
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="next">Next page >></a>
            {% endif %}
          </td>
        </tr>
      </table>
</div>

{% include footer.html %}
