---

---

{% include head.html %}

<h1 class="page-title"><a href="/">The Writing of Martin Brennan</a></h1>
  <hr />
<div class="blog">
    {% for post in paginator.posts %}
    <div class="col">
      <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}<br/><span class="byline">{{ post.byline }}</span></a></h1>
      <p>{{ post.excerpt }}</p>
      <p>{% if post.excerpt != post.content %}<a href="{{ post.url | prepend: site.baseurl }}">Continue reading</a>{% endif %}</p>
    </div>
    {% endfor %}
</div>
<div class="blog">
    <table style="width: 100%;">
        <tr>
          <td style="width: 15%;">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="previous"><< Previous page</a>
            {% endif %}
          </td>
          <td style="text-align: right; width: 15%;">
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="next">Next page >></a>
            {% endif %}
          </td>
        </tr>
      </table>
</div>