---
title: Works
permalink: /works/
---

{% include head.html %}

<span id="top"></span>
<h1 class="page-title"><a href="/">The Writing of Martin Brennan</a></h1>
<div class="page-nav"><a href="/">Home</a> ~ <a href="/archive">Archive</a> ~ <a href="/works">Works</a></div>
  <hr />
<div class="blog">
  <div class="col" style="flex: 3">
    <p style="margin-top: 0">I am not yet published. The manuscripts that I am currently working on are listed below, as well as an index of stories that I have written and posted on this blog.</p>
      
    <h2>Manuscripts</h2>
    <br/>
    <h4>The Thaw</h4>

    <p><em>The Thaw</em> is a post-apocalytic zombie survival novel set in the heart of America.</p>
    <blockquote>
      <p>It has been five years since the dead rose. An island community has formed at the junction of the Mississippi and Arkansas rivers. Dwindling food supplies and a crop blight force a group of the survivors to leave the safety of their home to make the perilous journey to a seed vault in Fort Collins, Colorado. A brutal and unnatural winter falls at home and in the Rockies, and the fate of humanity rests upon the success of their long journey across the American heartland. While the interests of the group may be aligned, theirs methods differ wildly, and two fiery conflicts will rage before the thaw.</p>
    </blockquote>

    <h4>Bottom Feeders</h4>
    <p><em>Bottom Feeders</em> is a dark comedy crime drama novel set in a fictionalized Californian town called Whiteport.</p>
    <blockquote>
      <p>The Crabs Motorcycle Club is on its last legs in 1984. Reduced from a once sprawling west coast organisation to two dwindling chapters, with no new prospects for years and one of its founders dead, the gang must settle for the table scraps of the more powerful Devil's Faithful Motorcycle Club. But when the Devil's Faithful puts them onto a port heist and an honest citizen of Whiteport is drawn into their lives, the Crabs must contend with the law, a traitor, and their own morals like they never have before. A tale of betrayal, brotherhood, and catharsis, about letting things die when the time is right.</p>
    </blockquote>

    <h2>Stories</h2>
    <p>Along with these short stories I have several short novellas (9-15k words) which I'm not quite sure what to do with, as they seem to be of too strange a size to submit anywhere, and some other stories not published on this blog because they have been submitted to competitions.</p>
    <ul>
      <li><a href="/unrepentant/">Unrepentant (Literary Taxidermy 2018)</a></li>
      <li><a href="/tough-break/">Tough Break (Swinburne Microfiction 2018)</a></li>
      <li><a href="/curse-of-the-tropics/">Curse of the Tropics (Swinburne Microfiction 2018)</a></li>
      <li><a href="/adrift/">Adrift (Swinburne Microfiction 2018)</a></li>
      <li><a href="/dust-to-dust/">Dust to Dust (Swinburne Microfiction 2018)</a></li>
      <li><a href="/canto-del-jilguero/">Canto del Jilguero (Swinburne Microfiction 2018)</a></li>

    </ul>
  </div>
  {% include authorsidebar.html %}  
</div>
{% include footer.html %}