<div class="author-sidebar--image">
  <img src="/images/me2.jpg" alt="Martin Brennan, the Author" class="me" />
</div>
<p style="margin-top: 1rem;">I’m Martin Brennan, a Software Engineer by day, and a writer whenever I can wrangle it. Genre fiction is my domain — I enjoy writing horror, sci-fi, fantasy, western, and everything else in-between, first in longhand, then typed into the devil-machine. I take cues from every place.</p>
<p>You can read about my major projects on my <a href="/works">works page</a>.</p>
<p>
  The authors that inspire me are Cormac McCarthy (my God), Stephen King (my Prophet), J. R. R. Tolkien, George R. R. Martin, Hunter S. Thompson, George Orwell, John Steinbeck, and Kurt Vonnegut.
</p>
<p>
  Find me <a href="https://twitter.com/mjrbrennan">@mjrbrennan</a> or <a href="mailto:mjrbrennan@gmail.com">email me</a>.
</p>
