<div class="col author-sidebar" >
    <div class="author-sidebar--image">
      <img src="/images/me.jpg" alt="Martin Brennan, the Author" class="me" />
    </div>
    <p style="margin-top: 1rem;">I’m Martin Brennan. I'm a software developer by day, and I like to think I know how to write. Like how a hobo thinks he knows the recipe to Coca-Cola.</p>
    <p>
      The authors that inspire me are Cormac McCarthy (my God), Stephen King (my Prophet), J. R. R. Tolkien, George R. R. Martin, Hunter S. Thompson, George Orwell, and Kurt Vonnegut.
    </p>
    <p>
      Find me on twitter <a href="https://twitter.com/mjrbrennan">@mjrbrennan</a> or <a href="mailto:martin_brennan@fastmail.com">email me</a>.
    </p>
  </div>