<header class="site-header">

  <!-- <div class="wrapper">
    <table class="navigation">
      <tr>
        <td>
          <a href="{{ site.baseurl }}/">
            <h1 class="main-site-title">{{ site.title }}</h1>
          </a>
          <span><a href="/about">about</a> | <a href="/archive">archive</a> | <a href="https://github.com/martin-brennan">github</a></span>
        </td>
        <td style="text-align: right;">
          <img src="https://gravatar.com/avatar/e61d50823d8a61ae2e50aa1b62c29ab5?s=65" style="width: 65px; margin: 0; display: inline;" />
        </td>
      </tr>
    </table>

  </div> -->

</header>
