h1.post-title, h1.main-site-title {
  font-family: $header-font-family;
  font-weight: 700;
  text-align: center;
  font-size: 280%;
  margin-bottom: 5px;
}

h2.post-subtitle {
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

h1.post-title, h2.post-subtitle {
  color: white;
}

h1.post-title {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  color: $brand-color;
  line-height: 1.4em;
}

h2.post-subtitle {
  color: black;
  font-size: 120%;
  margin-bottom: 15px;
}

a {
  color: $brand-color;
  text-decoration: underline;
}

.post-content {
  /* p:first-child:first-letter { float: left; font-size: 90px; line-height: 40px; padding-left: 0; padding-right: 8px; padding-top: 20px; padding-bottom: 5px; margin-top: 8px; } */
  max-width: calc(1000px - (30px * 2));
}

.post-nav {
  display: flex;
  padding: 20px 0;

  .next, .prev {
    flex: 1;
  }

  .next {
    text-align: right;
  }
}

.home-link {
  position: absolute;
  top: 5px;
  left: 10px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-size: 140%;

  &:hover {
    text-decoration: none;
    color: $brand-color;
  }
}

hr {
  margin: 30px 80px;
  border: 1px solid $grey-color-light;
}

.wrapper {
  max-width: calc(900px - (30px * 2));

  img {
    margin: 0 auto;
    display: block;
    max-width:775px;
    max-height:100%;
    border: 5px double #000;
  }
}

.first-letter { float: left; font-size: 90px; line-height: 40px; padding-left: 0; padding-right: 8px; padding-top: 20px; padding-bottom: 5px; margin-top: 8px; }

$blockquote-font-size: 100%;

@mixin reset-first-letter {
  p:first-child:first-letter { float: initial !important; line-height: initial !important; padding: initial !important; margin: initial !important; border: initial !important; }
}

div.smallpost {
  @include reset-first-letter;
}

blockquote {
  @include reset-first-letter;

  p:first-child:first-letter {
    color: $grey-color !important; font-size: $blockquote-font-size !important;
  }

  font-size: $blockquote-font-size;
  letter-spacing: normal;
  font-weight: 400;

  p {
    margin-bottom: 5px;
  }

  cite {
    display: block;
    text-align: right;
    font-style: normal;
    font-weight: 700;
    margin-right: 20%;
    font-size: 85%;
    color: #5f5f5f;
  }

  &.hero {
    border-left: 0;
    margin-bottom: 30px;
    p, p:first-child:first-letter {
      color: black !important;
      font-size: 180%;
      border-left: 0;
      padding-left: 10px;
      padding-right: 60px;
      line-height: 1.5em;
    }
  }
}

.header-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.home-header {
  margin-top: 50px;
  margin-bottom: 40px;

  .quill {
    width: 50px;
    margin: 0 auto;
    display: block;
    border: 0 !important;
  }

  p {
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
    font-weight: bold;
  }

  .home-header-nav {
    text-align: center;
    font-size: 16px;
    line-height: 1em;
  }
}

.post-list-heading {
  font-family: $header-font-family;
  margin-bottom: 0;
  line-height: 1.8em;
  a {
    text-decoration: none;
    font-size: 150%;
  }
}

@mixin sitebutton($backgroundColor) {
  background-color: $backgroundColor;
  border-bottom: 2px solid rgba(0, 0, 0, 0.10);
  border-radius: 5px;
}

.oc {
    @include sitebutton(rgb(255, 237, 18));
    padding: 2px 10px;
    color: black;
    margin-left: 5px;
    font-size: 85%;
    font-family: "Montserrat", "Helvetica Neue", "Proxima Nova", sans-serif;

    @include media-query($on-palm) {
      font-size: 70%;
    }
}

a.share {
  text-decoration: none;
}

.contact-list {
  li {
    line-height: 2em;
  }
}

@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?14jmb3');
    src:    url('/fonts/icomoon.eot?14jmb3#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?14jmb3') format('truetype'),
        url('/fonts/icomoon.woff?14jmb3') format('woff'),
        url('/fonts/icomoon.svg?14jmb3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\ea42";
}
.icon-arrow-left:before {
  content: "\ea44";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}

.share, .share:visited {
  border-bottom: 0px !important;
  color: $text-color;

  &.fb {
    color: #3b5998;
  }
  &.tw {
    color: #00aced;
  }
  &.cm {
    color: #ef71dd;
  }
}

.navigation {
  width: 100%;
}

.inline-image-wrap {
  text-align: center;
  img {
    display: inline-block;
  }
}

.tinyletter-form {
  p:first-child:first-letter { float: initial !important; color: $grey-color !important; font-size: $base-font-size !important; line-height: initial !important; padding-top: initial !important; padding-right: initial !important; padding-left: initial !important; }
}

.subscribe {
  padding: 20px;
  background-color: #fffde8;
  border: 1px solid #ffdea3;
  
  p {
    margin: 5px 0;
  }

  input[type=text] {
    width: 300px;
    margin-right: 10px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid $grey-color-light;
  }

  .subscribe-button {
    border: 0;
    @include sitebutton(#903);
    font-family: $header-font-family;
    color: white;
    width: 150px;
  }

  .subscribe-form-wrap {
    display: flex;

    input[type="text"] {
      border-radius: 3px;
      height: 25px;
    }
  }
}

img.avatar {
  border-radius: 100px;
}
