$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
// $color-box-background-bold: #4e60e2;
$color-box-background-bold: #45479c;
$border-radius: 4px;
$font-family: "EB Garamond", "Georgia", serif;

body {
  background-color: #fff5e6;
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 0 6vw 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 63em;

  @media (min-width: 820px) {
    font-size: 1.4rem;
  }

  @media (min-width: 1280px) {
    font-size: 1.4rem;
  }

  @media (max-width: 700px) {
    padding: 0 2vw 4vh 2vw;
  }
}

.latest-updates {
  display: grid;
  grid-template-areas: "blog notes";
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;

  @media (max-width: 700px) {
    grid-template-areas: none;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  ul {
    padding: 0 0 0 20px;
  }

  .latest-blog {
    margin-right: 5px;
  }
}

.home {
  display: grid;
  grid-template-areas: "content side";

  &__content {
    padding-right: 2em;
  }

  &__side {
    align-self: center;
    padding-top: 1.5em;
  }
}

time {
  display: inline-block;
  color: $color-subtext;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  // max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background-bold;
  color: white;
  border-radius: $border-radius;

  p {
    margin: 0;
  }

  cite {
    a {
      display: inline-block;
      margin-top: 1.5em;
    }
  }
}

cite {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  font-size: 0.9rem;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

a.internal-link {
  text-decoration: none;
  border-bottom: 1px dashed #45479c;
  color: #45479c;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed #45479c;
  color: #45479c;
  transition: background 300ms;
  padding: 0 0.1em;
  &:hover {
    // color: #fff5e6 !important;
    // background: #645949;
    background: #e9eaff;
  }
  &:after {
    position: relative;
    top: -0.8em;
    font-size: 0.6em;
    content: "↗";
    color: #4f479c;
    left: 0.3em;
    font-weight: bold;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after,
  &.nopreview:after {
    content: normal;
  }
  &.nopreview-arcana:after {
    content: "?";
  }
}

.sunken-box {
  width: 100%;
  padding: 20px 10px;
  background-color: #dbc9af4a;
  border: 1px solid #e8d2b0;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #ebddcc;
}

.example-backlink-boxes {
  margin: 0 auto;
  box-shadow: #ebddcc -11px 6px 10px 5px;
  width: 390px;

  .backlink-box {
    box-shadow: none;
  }
}

@media (max-width: 700px) {
  .sunken-box {
    box-sizing: border-box;
    .example-backlink-boxes {
      width: auto;
    }
  }
}

.blog,
.notes-container content,
.film-container content {
  @media (max-width: 700px) {
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 0;
    box-shadow: none;

    p:first-child {
      margin-top: 0;
    }
  }
  margin: 0 auto;
  display: block;
  flex-wrap: wrap;
  margin-bottom: 6em;
  max-width: 1000px;
  background-color: white;
  padding: 1em 2em;
  box-shadow: #d5c6af 0px 60px 40px;

  @media (max-width: 700px) {
    width: 100%;
    max-width: 100%;
  }
}

// .page-details.Home {
//   display: none;
// }

.wrapper {
  @media (max-width: 700px) {
    h1 {
      font-size: 1.25em;
      margin-top: 0;
    }

    .home {
      grid-template-areas: none;

      &__content {
        padding-right: 0;
      }
    }
  }
}

.request-copy {
  font-size: 1rem;
}

*:focus {
  background: #e9eaff;
}

nav {
  margin: 1em 0 1em;
  @media (max-width: 700px) {
    margin: 0.5em 0 1em;
  }
}

.note-arcana {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "div"
    "side";
  margin: 0 1em 1em 0;

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "div side";
  }

  @media (max-width: 700px) {
    grid-gap: 1em;
  }

  div.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  font-size: 0.7em;
}

.appears-in {
  font-size: 0.9em;
  color: $color-subtext;
  font-style: italic;
}

.notes-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }

  @media (max-width: 700px) {
    grid-gap: 0;
  }

  &__full-page {
    grid-template-areas: "content";

    content {
      max-width: 100%;
    }

    @media (min-width: 700px) {
      grid-template-columns: 2fr;
      grid-template-areas: "content";
    }
  }
}

.film-container {
  content {
    width: 100%;
    max-width: 100%;
  }
}

.backlink-box {
  background: #ffedd3;
  padding: 1em;
  border-radius: $border-radius;
  border: 1px solid #ffcf86;
  box-shadow: #f7ebda -11px 6px 10px 5px;
}

.published-box {
  @extend .backlink-box;
  background: #eaf1ff;
  border: 1px solid #cadcff;
  box-shadow: rgba(167, 176, 193, 0.5) 3px 6px 10px 5px;
}

.works-intro-wrap {
  display: flex;

  @media (max-width: 700px) {
    flex-flow: column-reverse;
  }
}

.works-intro {
  flex: 3;
  padding-right: 30px;
}

.works-me {
  flex: 1;
  align-items: center;
  justify-content: center;
  align-self: center;

  @media (max-width: 700px) {
    img {
      max-width: 50%;
    }
  }
}

.search-container {
  width: 100%;

  input {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: $font-family;
  }
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

.site-footer {
  font-size: 0.8rem;
  margin: 0 auto;
  width: 30%;
  text-align: center;

  p {
    margin-top: 0;
  }

  @media (max-width: 700px) {
    width: 75%;
  }
}

ul {
  @media (max-width: 700px) {
    padding: 0 20px;
  }
}

.shortcut-hint {
  background-color: #eed8b9;
  padding: 1em;
  font-size: 60%;
  border-radius: 10px;
  color: #ba7878;

  &--with-bottom-margin {
    margin-bottom: 1em;
  }

  &--with-top-margin {
    margin-top: 1em;
  }
}

.film-thumbnail-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  gap: 55px 10px;
  padding: 10px;

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 30vw);

    .film-thumbnail-item {
      padding: 0 !important;
    }
  }

  .film-thumbnail-item {
    text-align: center;
    padding: 20px 0;
    font-size: 1em;
    max-width: 120px;
    border: 0;

    &:hover {
      background-color: transparent;
    }

    img {
      max-width: 120px;
      border: 2px solid transparent;

      &:hover {
        border: 2px solid $color-box-background-bold;
      }
    }
  }
}

.film-container {
  .image-full-link {
    border: none;
    padding: 0;
  }

  .film-entry-image {
    height: 80vh;
    border-radius: 0;

    @media (max-width: 700px) {
      height: auto;
    }
  }

  .film-entry-description {
    width: 60%;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  .film-entry-details {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #e9e6e1;
    margin-top: 2em;

    tr:nth-child(even) {
      background: #e9e6e1;
    }

    td {
      padding: 0 1em;
    }
  }
}
