<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      {{ content }}
      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>
  <script>
    document.addEventListener("keyup", (event) => {
      console.log(event);
      if (event.code === "Slash" && event.ctrlKey) {
        window.location.href = "/search";
      }
    });
  </script>
</html>
