---
layout: default
---

<main>
  <article>
    <div id="film-entry-container" class="film-container">
      <content>
        <a class="internal-link image-full-link" href="/assets/film/{{ page.url | replace: "/film/", "" | replace: "/", "" }}.jpeg">
          <img class="film-entry-image" src="/assets/film/{{ page.url | replace: "/film/", "" | replace: "/", "" }}.jpeg" />
        </a>
        <div class="film-entry-description">
          {{content}}
        </div>
        {% include film_details.html %}
        <p><a class="internal-link" href="/film">« Back to gallery</a></p>
      </content>
    </div>
  </article>
</main>
