---

---

{% include head.html %}

<span id="top"></span>
<h1 class="page-title"><a href="/">The Writing of Martin Brennan</a></h1>
{% include postnav.html %}
<div class="blog">
  <div class="col" style="flex: 3">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h1>{{ page.title }}<br/><span class="byline">{{ page.byline }}</span><br/><time class="posttime" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time></h1>
        {{ content }}
        <div class="homeback">
          <a href="/"><< Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#top">Back to top</a>
        </div>
      </article>
      {% include subscribe.html %}
  </div>
</div>
{% include footer.html %}
